@import '~bootstrap/scss/bootstrap';

*{
    font-family: "Lato", sans-serif;
}

body{
    background-color: #590b4c;
}
.p-bg-lighter{
    background-color: #b749a5;
}
.p-bg-light{
    background-color: #99057b;
}
.p-bg-darker{
    background-color: #590441;
}

.paginator{
    .page-link{
        color:#4a225e;
    }
    .active > .page-link{
        background-color:#8940AD;
        border-color: #4a225e;
        color: #fff;
    }
}
.image_box{
    gap: 2rem;
}
img.jumbo-img{
    position: absolute;
    right: 15%;
    bottom: 20%;
    width: 40%;
    min-width: 400px;
    max-width: 550px;
}
.jumbotron{
    min-height: 645px;
    h1{
        font-size: 6rem;
    }
}