@import '~bootstrap/scss/bootstrap';

*{
    font-family: "Lato", sans-serif;
}

body{
    background-color: #5d2b4c;
}
.p-bg-light{
    background-color: #96457b;
}

.paginator{
    .page-link{
        color:#4a225e;
    }
    .active > .page-link{
        background-color:#8940AD;
        border-color: #4a225e;
        color: #fff;
    }
}
.image_box{
    gap: 2rem;
}